<div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add Documents</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div [hidden]="submitted">
                <form [formGroup]="reactiveForm">
                    <div class="modal-body">

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="title">Title</label>
                                <input type="text" id="title" class="form-control" formControlName="title"
                                    data-toggle="tooltip" placeholder="Enter title" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="category">Category</label>
                                <select name="category" formControlName="category" class="form-control" ngModel="images"
                                    ng-required=true>
                                    <option value="images">Images</option>
                                    <option value="documents">Documents</option>
                                    <option value="others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image">Upload Image</label><small class="form-text text-muted">Max Size
                                3MB</small>

                            <div class="container row">
                                <div class="col-md-12">
                                    <input type="file" name="file" class="form-control" (change)="onFileChanged($event)"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" [disabled]="!reactiveForm.valid"
                            (click)="saveDoc(reactiveForm)">
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>
            </div>
            <div [hidden]="!submitted">
                <h6 style="text-align:center ;">{{message}}</h6>
                <button style="margin: 5% 30% 10% 40%;" (click)="addDocForm()" class='btn btn-info'>Add
                    Documents Again</button>
            </div>
        </div>
    </div>