<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="./faq.component.css">
    <title>FAQ's</title>
</head>

<body>
  <app-navbar></app-navbar>
 <!-- PAGE HEADER -->
 <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1 style="color: rgb(2, 37, 26);"><strong>FAQ's</strong></h1>
        </div>
      </div>
    </div>
  </header>

  
    <!-- CONTACT SECTION -->
    
         
          <div class="col-md-8" style="margin-top: 5%; left: 18%;"> 
            <div class="card p-4">
              <div class="card-body">
                <p><strong>1. How can I sign up?</strong></p>
                    <p>Sign -up using your email id and choose unique username.</p>
                    <p><strong>2. What if I forgot my password?</strong></p>
                    <p>You can click on forgot password and reset your password.</p>
                    <p><strong>3. Who all can access my account?</strong></p>
                    <p>Only you have access to your account. You can use your credentials to login.</p>
                    <p><strong>4. Can I access my data eithout internet?</strong></p>
                    <p>No, you need internet connection to access your data.</p>               
                
              </div>
            </div>
          </div>
       
  
    
  
    <!-- FOOTER -->
    <footer id="main-footer" class="text-center p-4">
      <div class="container">
        <div class="row">
          <div class="col">
            <p><br>
              </p>
          </div>
        </div>
      </div>
    </footer>
  
  
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
  
</body>    
</html>