<!-- <p>navbar works!</p> -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <img src="../../assets/Images/logo.jpg" width="50" height="50" alt="">
            <a routerLink ="/home" class="navbar-brand">&emsp;Document Vault</a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto nav nav-tabs">
                    <li class="nav-item active">
                        <a routerLink="/home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about-us" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/main" class="nav-link">Main</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

