<section id="data">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Latest Documents</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>One</td>
                                <td>Img</td>
                                <td>May 14 2021</td>
                                <td>
                                    <a href="/details" class="btn btn-secondary">
                                        <em class="fas fa-angle-double-right"></em> Details
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Two</td>
                                <td>Doc</td>
                                <td>May 14 2021</td>
                                <td>
                                    <a href="/details" class="btn btn-secondary">
                                        <em class="fas fa-angle-double-right"></em> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Three</td>
                                <td>Video</td>
                                <td>May 14 2021</td>
                                <td>
                                    <a href="/details" class="btn btn-secondary">
                                        <em class="fas fa-angle-double-right"></em> Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>