<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>Profile</title>
</head>

<body>
    <app-sidebar></app-sidebar>
    <app-dashnavbar></app-dashnavbar>


    <!-- HEADER -->
    <header id="main-header" class="py-2 bg-secondary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fas fa-user"></i> Profile
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a routerLink="/dashboard" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> Back To Dashboard
                    </a>
                </div>
                <div class="col-md-6">
                    <a routerLink="/editprofile" class="btn btn-danger btn-block">
                        <i class="fas fa-pencil-alt"></i> Edit Profile
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- PROFILE -->

    <section id="users">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>User Details</h4>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>ID</th>
                                <td>1</td>

                            </tr>
                            <tr>
                                <th>USERNAME</th>
                                <td>admin1</td>
                            </tr>

                            <tr>
                                <th>NAME</th>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <th>EMAIL</th>

                                <td>admin@documentvault.com</td>
                            </tr>
                            <tr>
                                <th>NUMBER</th>

                                <td>987654321</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>